$backWidth: 512px;
$backHeight: 432px;
// $treeWidth: 208px;
// $treeHeight: 79px;
$groundWidth: 68px;
$groundHeight: 24px;
$mariaWidth: 74px;
$mariaHeight: 96px;
.absoluteFill {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
